body {
  background-color: #ff9000;
  font-family: helvetica;
}

h1 {
  color: #ffffff;
  font-size: 3em;
  font-family: helvetica;
  padding-left: 4%;
  padding-top: 2%;
  margin: 0;
}

h2 {
  color: #ffffff;
  font-size: 2em;
  font-family: helvetica;
  padding-top: 2%;
  padding-left: 4%;
  margin: 2em 0 0 0;
}

h3 {
  color: #ffffff;
  font-size: 1.5em;
  font-family: helvetica;
  padding-left: 4%;
  margin: 1.6em 0 0 0;
}

p {
  color: #ffffff;
  font-size: 1em;
  font-family: helvetica;
  padding-left: 4%;
  padding-right: 4%;
}

a {
  color: #ffd6a2;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 4%;
  margin-right: 66%;
  border-style: inset;
  border-width: 1px;
  border-color: white;
}

#scrollBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ff9000;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 2em;
  }

#scrollBtn:hover {
  background-color: #ffd6a2;
}
